<footer class="footer">
    <div class="footer-text">
        <h5>Raven Design</h5>
    </div>
    <div class="footer-social">
        <div><a href="#"><i class="far fa-paper-plane"></i></a></div>
        <div><a href="#"><i class="fab fa-github"></i></a></div>
        <div></div>
    </div>
</footer>