@import url('https://fonts.googleapis.com/css2?family=Play&family=Roboto&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  display: flex;
  justify-content:space-around;
  padding: 2rem;
  background-color: rgb(250, 250, 250);
  width: 100%;
  height: 18vh;
}
.burger-menu{
  width: 2.5rem;
  cursor: pointer;
  display: none;
}
.bar{
  width: 100%;
  background-color: rgba(0, 0, 0, 0.55);
  height: 3px;
  margin-top: 0.65rem;
  transition: all ease-in-out 0.4s;
}
.navlinks{
  display: flex;
  width: 45%;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  transition: transform ease-in-out 0.2s;
}
.logo{
  font-family: 'Play', sans-serif;
  letter-spacing: 3px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.55);
  text-shadow: rgba(0, 0, 0, 0.2) 6px 0px 3px;
}
.navlinks a{
  text-decoration: none;
  position: relative;
  font-family: 'Roboto';
  text-transform: uppercase;
  color: #333;
}
.navlinks a:link{
  color: inherit;
}
.navlinks a::after{
  content: '';
  width: 100%;
  height: 0.2rem;
  position: absolute;
  left: 0;
  bottom: -0.18rem;
  background-color: #40826d;
  transform: scaleX(0);
  transform-origin: left;
  transition: all ease-in-out 0.4s;
}
.navlinks a:hover::after{
  transform-origin: right;
  transform: scaleX(1); 
}
.contact-container{
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #40826d;
  color: rgb(250, 250, 250);
}
.contact-container h2{
  font-family: 'Play', sans-serif;
  text-transform: uppercase;
  line-height: 2rem;
  padding: 1rem;
}
.contact-form{
  align-self:center;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  line-height: 2rem;
}
.contact-form input{
  outline: none;
  color: #fff;
  background-color: inherit;
  width: 100%;
  height: 1.4rem;
  position: relative;
  border: none;
  border-bottom:2px solid black ;
  
}
.contact-form textarea{
  outline: none;
  border: 2px solid black;
  background-color: #fff;
  width: 100%;
  height: 3rem;
  position: relative;
}
.contact-form button[type="submit"]{
  align-self: center;
  margin: 0.85rem;
  padding: 0.4rem 1.8rem;
  border: none;
  cursor: pointer;
  transition: all ease-in-out 0.4s;
}
.contact-form button[type="submit"]:hover{
  background-color: rgba(250, 250, 250,0.5);
}
.contact-form input::placeholder{
  color: rgb(250, 250, 250);
}
.contact-form textarea::placeholder{
  color: #333;
}

.footer{
  font-family: "Play", sans-serif;
  height: 10vh;
  width: 100%;
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  bottom: 0;
}
.footer-social{
  display: flex;
  justify-content: space-between;
  width: 5rem;
  font-size: 1.4rem;
  color: #fff;
}
.footer-social a:link{
  color: inherit;
}

.blogs div{
  background-color: rgb(250, 250, 250);
  min-height: 20vh;
  position: relative;
  margin: 40px 0;
  padding-left: 30px;
  border-left: 6px solid #40826d;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
}
.blogs div h3{
  font-family: 'Play',sans-serif;
}
.blogs div:hover h3{
  color: #40826d;
}
.blogs strong{
  position: absolute;
  right: 1rem;
  top: 1rem;
}
@media(max-width:1024px){
  header{
    justify-content: space-around;
  }
  header h1{
    margin-top: 0.35rem;
  }
  .burger-menu{
    display: block;
  }
  .navlinks{
    background-color: #40826d;
    position: absolute;
    justify-content: space-around;
    top: 18vh;
    width: 100%;
    height: 3rem;
    transform: scaleY(0);
    transform-origin: top;
  }
  .navlinks-active{
    opacity: 1 !important; 
  }
  .navlinks a{
    color: rgb(250, 250, 250);
    text-shadow: 0 0 2px #fff;
    opacity: 0;
    transition: opacity 0.2s ease-in-out  0.25s;
  }
  .contact-form{
    width: 70%;
  }
}
.navlink-active{
  transform: scaleY(1);
}

.bar1-active{
  transform: rotate(45deg) translate(0.20rem,1rem);
}
.bar2-active{
  opacity: 0;
}
.bar3-active{
  transform: rotate(-45deg) translate(0.20rem,-1rem);
}